.nav{
    display: flex;
    flex-direction: row; 
}
.menu {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-left: 4.063rem;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20.83px;
}
.icon{
    width: 6px;
    height: 6px;
    padding-left: 0.625rem;
    padding-top: 3px;
}
